body {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.box {
  background-color: lightblue;;
}

.grid-container {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 300px 300px;
  gap: 1em;
  grid-template-areas: "box-1 box-2 box-2 box-3" 
                       "box-1 box-2 box-2 box-4";
}