ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Vertically align items */
}

ul li {
  margin: 0 10px;
}

ul .logoDiv {
  margin-right: auto; /* Pushes the logo to the far left */
}

ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}