body{
    background-image: url_for('static', filename='siren_logo_simple.png');
    background-size:cover;
    background-position:center;
    margin:0%;
    height: 100vh;
}
.bannerimage{
    height: 100%;
    width: 8%;
    margin-right: 20px;
}
.top-banner {
    width:100%;
    height:fit-content;
    color:white;
    background-color: rgb(5, 5, 48);
    margin:0;
    contain:layout;
}
h1{
    font-size:350%;
    text-align: left;
    margin:20px;
    margin-left: 50px;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(5, 5, 48);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color:white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(14, 14, 73);
}
.navbar li{
    float:left;
    width: 33%;
}
.homepagemain {
    font-size:150%;
    color:white;
    margin-left:60px;
    margin-right:60px;
    height: 100vh;
}

.basepagemain {
    font-size:150%;
    color:white;
    margin-left:0px;
    margin-right:0px;
    height: 100%vh;
}

.container {
    display: flex;
    font-size: 50pt;
    width:100%;
    margin-left:0px;
}

.div1, .div2 {
    flex-grow: 1;
    border-bottom: 2px solid rgb(5, 5, 48);
    padding: 50px;
}

.div1 {
    border-right: 2px solid black;
    background-color:#2d333af0;
    border-color:white;
    color:white;
    border-bottom: none;
}

.div2-container {
    background-color:#00b2cacc;
}

.div2 {
    border: none;
}

.song-container {
    border: solid;
    border-width: 3px;
    border-color:black;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(0, 19, 66, 0.75);
    color:rgb(201, 220, 231);
    margin-top: 5px;
    margin-bottom: 5px; 
}
.song-name {
    font-size: 20pt;
    padding-left: 25px;
}

.song-artist {
    font-size: 14pt;
    padding-left: 50px;
    padding-top: 10px;
}

.add-rec-button {
    border: none;
    background-color:rgba(189, 80, 80, 0);
    width:fit-content;
    height:fit-content;
    align-content: center;
    font-size: 21pt;
}

.add-rec-button:hover {
    border: none;
    border-radius:15px;
    color:white;
}


















.footer{
    background-color: rgb(5, 5, 48);
}
.footernav ul{
    list-style-type:none;
    list-style-type: none;
    background-color: rgb(5, 5, 48);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.footernav a{
    color:white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.copyright{
    color:white;
    text-align: center;
    background-color:rgb(5, 5, 48);
    margin-top: 0;
    padding-bottom: 20px;
}




/* This is the start of the CSS code for the Login page. */
.loginmain{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper{
    width: 420px;
    background-color: rgba(29, 78, 137, 0.85);
    color:white;
    border-radius: 12px;
    padding: 30px 40px;
    padding-top: 0px;
}
.loginheader{
    font-size:36px;
    text-align: center;
    width: 79%;
}
.wrapper .input-box{
    position: relative;
    width:95%;
    height:50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background-color:rgba(17, 50, 90, 0.75) ;
    border:none;
    outline:none;
    border:2px solid rgba(255, 255, 255, 0.50);
    border-radius: 40px;
    font-size: 16px;
    color:white;
    padding-left: 20px;
}
.input-box input::placeholder{
    color: #fff;
}
.input-box i{
    position: absolute;
    right: 20px;
    top:30%;
    transform: translate(-50%);
    font-size: 20px;
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: white;
    margin-right: 3px;

}
.remember-forgot a{
    color:white;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration:underline;
}

.login-btn-container {
    align-content:center;
    width:100%;
}

.wrapper .btn{
    width: 50%;
    margin-left: 112px;
    height: 45px;
    background:white;
    border:none;
    outline:none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;

}
.register-link p a{
    color:white;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}





/* Code for the managing playlist page */
.manageplaylistpage{
    font-size:150%;
    color:white;
    margin-left:60px;
    margin-right:60px;
    height: 100vh;
}
.boxes{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.searchbartitle{
    font-size: 150%;
    margin-top:-20px;
    margin-bottom:-15px;
    padding: none;
    text-align: center;
    margin-right: 50px;
}
.leftbox{
    margin-top: 20px;
    text-align: center;
    background-color: #2d333af0;
    height: 88vh;
    margin-bottom: 20px;
    border-radius: 12px;
    padding:20px;
}
.leftcontentbox{
    background: white;
    height: 67vh;
    margin-top: 27px;
    color: black;
    border-radius: 12px;
    border:2px solid rgba(255, 255, 255, 0.50);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
.rightboxtitle{
    font-weight: 700;
    font-size: 150%;
    margin-top: 20px;
}
.rightbox{
    margin-top: 20px;
    text-align: center;
    background-color: #2d333af0;
    height: 88vh;
    margin-bottom: 20px;
    border-radius: 12px;
    padding: 20px;
}
.rightcontentbox{
    background-color: white;
    height: 72vh;
    color:black;
    border-radius: 12px;
    border:2px solid rgba(255, 255, 255, 0.50);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}






